{% extends "./_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container">
	<section class="section-about">
		<h2 class="section__title text-center">ABOUT ME</h2>
		<div class="row section__content">
			<div class="col col-half col-6">
				<div class="avatar">
					<img class="avatar__image" src="./assets/images/avatar.jpg" alt="avatar">
					<p class="text text-center hide-on-desktop"><b>ĐOÀN LÊ QUỐC HUY</b></p>
					<p class="text text-center hide-on-desktop">28-02-1998</p>
					<p class="text text-center hide-on-desktop">Graphic Designer</p>
				</div>
			</div>
			<div class="col col-half col-6">
				<div class="introduce">
					<p class="text introduce__text text-center hide-on-mobile"><b>ĐOÀN LÊ QUỐC HUY</b></p>
					<p class="text introduce__text text-center hide-on-mobile">28-02-1998</p>
					<p class="text introduce__text text-center hide-on-mobile">Graphic Designer</p>
					<p class="text text-justify">Xin chào ! Tôi là Quốc Huy.<br>
Tôi nghĩ rằng công việc thiết kế cũng giống như việc sắp xếp cuộc sống vậy. Có rất nhiều lựa chọn, quan trọng ta chọn cho mình một bản vẽ đẹp, một cuộc sống tốt hay là một thiết kế tồi tệ, cuộc đời đầy bế tắc...<br>Với tinh thần luôn cầu tiến, ham học hỏi, năng động, sáng tạo,...tôi luôn cố gắng từng ngày để trở thành một nhà thiết kế chuyên nghiệp, tạo ra những sản phẩm đẹp, chất lượng, đáp ứng được nhu cầu của khách hàng và đối tác.
</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section-porfolio">
		<h2 class="section__title text-center">PORFOLIO</h2>
		<div class="row gallery" data-module="MasonryLayout">
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-674268.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-229014.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-674268.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-674268.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-229014.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-674268.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>
			<figure class="gallery__item">
				<div class="gallery__image">
					<img src="./assets/images/gallery/pexels-photo-720362.jpg" alt="gallery">
				</div>
				<figcaption class="gallery__label text-center"><b>TYPOGRAPHY</b> - CÙNG ANH</figcaption>
			</figure>

		</div>
	</section>
	<section class="section-cv">
		<h2 class="section__title text-center">CURRICULUM VITAE ( CV )</h2>
		<div class="cv">
			<img src="./assets/images/Mockup_CV.jpg" alt="cv" class="cv__image">
		</div>
	</section>
</div>
{% endblock %}