<header class="header" data-module="HeaderEvent">
	<nav class="nav">
		<div class="logo">
			<div class="menu-btn hide-on-desktop">
				<div class="menu-btn__bar"></div>
			</div>
			<div class="logo__wrapper">
				<img class="logo__image" src="assets/images/logo.png" alt="logo">
				<img class="logo__image scrolled" src="assets/images/logo_black.png" alt="logo">
			</div>
			<div class="overlay"></div>
			<nav class="nav-mobile hide-on-desktop">
				<span class="nav__close"></span>
				<img class="nav__logo" src="./assets/images/logo_black.png" alt="logo">
				<ul class="nav__list">
					<li><a data-scroll="home" class="nav__item" href="javascript: void(0)">Home</a></li>
					<li><a data-scroll="about" class="nav__item" href="javascript: void(0)">About Me</a></li>
					<li><a data-scroll="porfolio" class="nav__item" href="javascript: void(0)">Porfolio</a></li>
					<li><a data-scroll="cv" class="nav__item" href="javascript: void(0)">Curriculum Vitae ( CV )</a></li>
					<li><a data-scroll="contact" class="nav__item last-item" href="javascript: void(0)">Contact</a></li>
				</ul>
				<img class="nav__avatar" src="./assets/images/avatar.jpg" alt="avatar">
				<p class="nav__avatar-text text-center"><b>ĐOÀN LÊ QUỐC HUY</b></p>
			</nav>
			<nav class="nav-desktop hide-on-mobile">
				<ul class="nav__list">
					<li><a data-scroll="home" class="nav__item" href="javascript: void(0)">HOME</a></li>
					<li><a data-scroll="about" class="nav__item" href="javascript: void(0)">ABOUT ME</a></li>
					<li><a data-scroll="porfolio" class="nav__item" href="javascript: void(0)">PORFOLIO</a></li>
					<li><a data-scroll="cv" class="nav__item" href="javascript: void(0)">CV</a></li>
					<li><a data-scroll="contact" class="nav__item" href="javascript: void(0)">CONTACT</a></li>
				</ul>
			</nav>
		</div>
	</nav>

	<div class="hero" data-module="SlickCarousel">
		<div class="hero__item">
			<img class="hero__image hide-on-desktop" src="assets/images/m_hero.jpg" alt="hero">
			<img class="hero__image hide-on-mobile" src="assets/images/d_hero.jpg" alt="hero">
			<h2 class="hero__text ani-hero-text">I CAN ACCEPT FAILURE, EVERYONE FAILS AT SOMETHING. BUT I CAN'T ACCEPT NOT TRYING<br><span class="hero__text--small">By Michael Jordan</span></h2>
		</div>
		<div class="hero__item">
			<img class="hero__image hide-on-desktop" src="assets/images/m_hero-2.jpg" alt="hero">
			<img class="hero__image hide-on-mobile" src="assets/images/d_hero-2.jpg" alt="hero">
			<h2 class="hero__text">I CAN ACCEPT FAILURE, EVERYONE FAILS AT SOMETHING. BUT I CAN'T ACCEPT NOT TRYING<br><span class="hero__text--small">By Michael Jordan</span></h2>
		</div>

	</div>
</header>
