/* GLOBAL */
body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	min-height: 100%;
	font-family: $font-default;
	font-size: 16px;
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

hr {
	display: block;
	margin: 20px auto;
	border: none;
	border-top: 1px solid black;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.overflow-hidden {
	overflow: hidden;
}

.hidden {
	display: none;
}

.icon {
	display: block;
}

.icon-inline {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.container {
	padding: 0 10px 10px;
}
.block-center {
	margin-left: auto;
	margin-right: auto;
}
.col-half {
	width: 50%;
}

.text {
	font-size: 12px;
	margin: 0;
	@include screen(small) {
		font-size: 16px;
	}
}

.overlay {
	@include fixed(top left);
	width: 100%;
	height: 100%;
	z-index: 98;
	background: #000;
	opacity: 0;
	visibility: hidden;
	transition: all .6s ease;
	&.active {
		opacity: 0.6;
		visibility: visible;
	}
}

.hide-on-desktop {
	@include screen(small) {
		display: none !important;
	}
}
.hide-on-mobile {
	@include screen(small, false) {
		display: none !important;
	}
}